.chat-main
  .chat-main__group-info
    .chat-main__group-info-group
      .chat-main__group-info-group-name
        = @group.name
      .chat-main__group-info-group-name-member
        Member:
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info-editButon
      = link_to edit_group_path(@group), class: 'edit' do
        Edit
  .chat-main__message-list
    = render @messages
 
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "chat-main__message-form-newMessage"}, local: true do |f|
      .chat-main__message-form-newMessage-contens
        = f.text_field :content, class: 'chat-main__message-form-newMessage-contens-inputText', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__message-form-newMessage-contens-inputIcon' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'chat-main__message-form-newMessage-submitBtn'